@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #0018A4;
  --lighter-color: #CCD1ED;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1 {
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: -0.019em;
text-align: center;
max-width: 300px;
z-index: 1;
}

h1 > span {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.019em;
}

h2 span {
  font-size: 24px;
  display: block;
  line-height: normal;
}

h2, h3 {
  color: var(--primary-color);
  padding: 1rem 0 0.5rem 0;
}

p {
  padding: 10px 0;
}

header {
  color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  opacity: 0.3;
  position: absolute;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

form > label {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

label > label {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: baseline;
}

input[type="radio"] {
  flex: 0 0 5%;
}

input[type="text"],
select,
button {
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
}

input[type="text"],
select,
button {
  border: 1px solid #9C9C9C;
}

input:focus {
  background-color: var(--lighter-color);
}

select {
  font-size: 16px;
}

input[type="radio"]:checked {
  accent-color: var(--primary-color);
}

.submit-wrapper {
margin-top: 20px;
}

button {
  padding: 10px, 20px, 10px, 20px;
  background-color: var(--primary-color);
  color: white;

}

@media all and (min-width: 668px) {
  * {
    text-align: center;
  }

  label > p {
    text-align: left;
  }
}